
<html layout:decorate="~{thymeleaf/layout}">

<div layout:fragment="content" class="container my-3">

	<div class="row my-3">
        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <div class="col-6">
            <div class="input-group">
            
            	<!-- 자바스크립트에서 읽는 검색어 부분 -->
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
	
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th style="width:50%">제목</th>
				<th>글쓴이</th>
				<th>작성일시</th>
			</tr>
		</thead>
		
		<tbody>
			<tr class="text-center" th:each="question, loop : ${paging}">
			
				<!-- 번호 = 전체 게시물 개수 - (현재 페이지 * 페이지당 게시물 개수) - 나열 인덱스 -->
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
				<td class="text-start">
					<!-- 문자열 concat -->
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
					<span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}" 
                        th:text="${#lists.size(question.answerList)}">
                    </span>
				</td>
				<td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
				<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
		
	</table>
	
	<!-- 페이징 처리 시작 -->
	
	<div th:if="${!paging.isEmpty()}">
	
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <!-- 
                
                모든 페이지 링크를 href 속성에 직접 입력하는 대신 data-page 속성으로 값을 읽을 수 있도록 변경했다.
                
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}"> 
                <span>이전</span>
                </a>
                -->
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            	th:if="${page >= paging.number-5 and page <= paging.number+5}"
            	th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <!-- 
                
                모든 페이지 링크를 href 속성에 직접 입력하는 대신 data-page 속성으로 값을 읽을 수 있도록 변경했다.
                
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a> 
                -->
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <!-- 
                
                모든 페이지 링크를 href 속성에 직접 입력하는 대신 data-page 속성으로 값을 읽을 수 있도록 변경했다.
                
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                <span>다음</span>
                </a> 
                -->
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
	
	<!-- 페이징 처리 끝 -->
	
	<!-- 끝 -->
	<!-- <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a> -->
	
	<form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
	
	
</div>

<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>

</html>


<!-- 
검색에서 GET 방식을 사용하는 이유
page, kw를 GET이 아닌 POST 방식으로 전달하는 방법은 추천하고 싶지 않다. 
만약 GET이 아닌 POST 방식으로 검색과 페이징을 처리한다면 웹 브라우저에서 
"새로고침" 또는 "뒤로가기"를 했을 때 "만료된 페이지입니다."라는 오류를 종종 만나게 될 것이다. 
왜냐하면 POST 방식은 동일한 POST 요청이 발생할 경우 중복 요청을 방지하기 위해 "만료된 페이지입니다." 라는 오류를 발생시키기 때문이다. 
2페이지에서 3페이지로 갔다가 뒤로가기를 했을 때 2페이지로 가는것이 아니라 오류가 발생한다면 엉망이 될 것이다.

이러한 이유로 여러 파라미터를 조합하여 게시물 목록을 조회할 때는 GET 방식을 사용하는 것이 좋다. 
-->



